  {% extends 'polls/template.html' %}

{% block content %}
     <div class="login-register-wrapper pt-60 pb-60">
        <div class="container">
            <div class="member-area-from-wrap text-center" style="margin:0 auto;width:420px;margin-top:20px">


                    <div class="center-block">
                        <div class="login-reg-form-wrap">

                            <h2>登录</h2>
                            <form action="/polls/login/" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="single-input-item">
                                    <input type="text" placeholder="用户名" name="username" required/>
                                </div>
                                <div class="single-input-item">
                                    <input type="password" placeholder="输入密码" name="password" required/>
                                </div>
                                <div class="single-input-item">
                                    <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                    </div>

                                </div>
                                <div class="single-input-item">
                                    <button type="submit" class="btn btn__bg btn__sqr">登录</button>
                                    <div class="single-input-item">
                                 <p style="color: red">{{ error }}</p>
                                 </div>
                                </div>
                            </form>
                        </div>
                    </div>




    <!-- login register wrapper end -->

            </div>
        </div>
    </div>
  {% endblock %}
{% block footer %}
{% endblock %}